{% for t in vehicles %}
<tr style="background-color: {{ '#d4edda' if t.is_moving else '#f8d7da' }}; transition: background 0.5s;">

    {# Accessing the Vehicle table through the relationship #}
    <td><strong>{{ t.parent_vehicle.vehicle_id }}</strong></td>

    <td>ID: {{ t.parent_vehicle.harwdare_id }}</td>
    {% if t.speed > 100 %}
    <td style="font-weight: 400; color: rgb(18, 18, 6); background-color: #ab3e46;">{{ t.speed }} km/h</td>
    {% else %}
    <td>{{ t.speed }} km/h</td>
    {% endif %}

    {# New Stats Columns #}
    <td>Max: {{ "%.1f"|format(t.max_registered_speed) }} km/h</td>
    <td>Avg: {{ "%.1f"|format(t.mean_speed) }} km/h</td>
    <td>Dist: {{ "%.2f"|format(t.accumulated_distance) }} km</td>

    <td>{{ t.last_update | local_time}}</td>

    <td>
        <button class="secondary"
            onclick="openMap('{{ t.parent_vehicle.vehicle_id }}', {{ t.last_lat }}, {{ t.last_lon }})">
            Detalles
        </button>
    </td>
</tr>
{% endfor %}